.*
/build/
/cache/
/docs/
/data/i18n/paysages_*.qm
/gmon.out
/nbproject/
/output/
/perf.*
*.pro.user
*.pro.user.*
qrc_*.cpp
ui_*.h
/tags
/.session.vim
/*-stamp
/debian/*.log
/debian/files
/debian/*.substvars
/debian/paysages3d
/*.trace
/paysages3d-linux/
/paysages3d-linux.tar.bz2
