Source: paysages3d
Section: graphics
Priority: extra
Maintainer: Michael Lemaire <paysages@thunderk.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: paysages3d
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0, libqt5core5, libqt5gui5, libqt5opengl5, libdevil1c2
Description: Paysages 3D is a landscape synthesizer and renderer
 Paysages 3D is a work-in-progress 3D software, allowing to model, preview, and render vast natural sceneries, with ground, sky, clouds...
